<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Inicio</title>
</head>
<body>
  <div class="portada">
    <img src="assets/Soporte.gif" alt="Portada">
    <div class="portada-texto">
      <h1>Bienvenido a Mercy Developer</h1>
      <p>Aquí le ofrecemos un servicio técnico de calidad</p>
    </div>
  </div>
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4">¿Qué ofrecemos?</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/computadora.png" alt="Arreglo de computadores">
              <div class="card-body">
                <h5 class="card-title">Arreglo de Computadores</h5>
                <p class="card-text">Ofrecemos diagnósticos completos y reparaciones efectivas para asegurar que tu computadora funcione como nueva.</p>
                <a href="/contactanos" class="btn btn-primary">Más Información</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/hardsoft.png" alt="Limpieza de hardware y software">
              <div class="card-body">
                <h5 class="card-title">Limpieza de Hardware y Software</h5>
                <p class="card-text">Elimina virus y optimiza el rendimiento de tu sistema con nuestros servicios de limpieza profesional.</p>
                <a href="/contactanos" class="btn btn-primary">Más Información</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/formateo.png" alt="Formateos">
              <div class="card-body">
                <h5 class="card-title">Formateos</h5>
                <p class="card-text">Realizamos formateos seguros y efectivos para garantizar que tus datos estén protegidos y tu equipo esté optimizado.</p>
                <a href="/contactanos" class="btn btn-primary">Más Información</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>