<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercy Developer</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/inicio">
        <img src="assets/ServTecnico.png" width="30" height="30" alt="Logo">
        Mercy Developer
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ubicanos">Ubícanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactanos">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  <router-outlet />
  <footer class="footer">
    <div class="footer-content">
      <img src="assets/computadora.png" alt="Servicio Técnico IE" class="footer-logo">
      <div class="footer-text">
        <h3>Mercy Developer</h3>
        <p>LLÁMANOS AL <a href="contactanos +569 44052251" class="footer-phone">+56 9 9667 4533</a></p>
      </div>
    </div>
  </footer>
  
  
</body>
</html>